@model GummiBear.Models.Product

@{
    ViewData["Title"] = "Product Details";
    Layout = "_Layout";
}

<h1>@Model.Name</h1>
@if (Model.Picture != null)
{
    <p>
        <img src='@Url.Action("GetPicture", "Product", new { id = Model.ProductId})' />
    </p>
}
<p>@Model.Cost</p>
<p>@Model.Description</p>

<p>@Html.ActionLink("Add Review", "Create", "Review", new { id = Model.ProductId })</p>
@foreach (var review in Model.Reviews)
{
    <h4>@review.Title</h4>
    <p>@review.Author</p>
    <h5>Rating: @review.Rating</h5>
    <p>@review.ContentBody</p>
    <p>@Html.ActionLink("Edit Review", "Edit", "Review", new { id = review.ReviewId }) | @Html.ActionLink("Delete Review", "Delete", "Review", new { id = review.ReviewId })</p>
}

<p>@Html.ActionLink("Return to product list", "Index")</p>