@using GummiBear.Models

@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

<h1>PRODUCTS</h1>

<p>
    @Html.ActionLink("Add Product", "Create")
</p>

@foreach(Product product in Model)
{
<p>@product.Name | @Html.ActionLink("Details", "Details", new { id = @product.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = @product.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = @product.ProductId })</p>
}

<p>
    @Html.ActionLink("Home", "Index", "Home")
</p>