@model GummiBear.ViewModels.ProductReviews

@{
    ViewData["Title"] = "Review Create";
    Layout = "_Layout";
}

<h1>Add Product</h1>

@{ Model.Review.ProductId = Model.ProductId; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @Html.LabelFor(model => model.Review.Title)
        @Html.TextBoxFor(model => model.Review.Title)
    </p>
    <p>
        @Html.LabelFor(model => model.Review.Author)
        @Html.TextBoxFor(model => model.Review.Author)
    </p>

    <p>
        @Html.LabelFor(model => model.Review.Rating)
        @Html.DropDownListFor(model => model.Review.Rating, new SelectList(new List<SelectListItem> {
            new SelectListItem { Text = "5", Value = "5"},
        	new SelectListItem { Text = "4", Value = "4"},
        	new SelectListItem { Text = "3", Value = "3"},
        	new SelectListItem { Text = "2", Value = "2"},
        	new SelectListItem { Text = "1", Value = "1"}
	    }, "Value", "Text"))
    </p>

    <p>
        @Html.LabelFor(model => model.Review.ContentBody)
        @Html.TextBoxFor(model => model.Review.ContentBody, new { @maxlength="255" })
    </p>

    <p>
        @Html.HiddenFor(model => model.Review.ProductId)
    </p>
    <input type="submit" value="Submit Review" />
}
<p>
    @Html.ActionLink("Return to product list", "Index")
</p>